<!DOCTYPE html>
<html lang='en'>

<head>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="/static/styling/home.css" rel="stylesheet" />
    <link href="/static/styling/bug.css" rel="stylesheet" />
    <link rel="icon" href="/static/placeholder.jpg" type="image/icon type">
</head>

<body>
    <header>
        <div class="header-left">
            <img src="/static/placeholder.jpg" alt="zotsoc" id="logoimg"/>  
            <a href="/"> zotSOC </a>
        </div>        
        
        <div class="header-right">
            <nav>
                <a href="https://github.com/jtchow/zot-SOC">GitHub</a>
                <a href="/bug">Report a Bug</a>
            </nav>  
        </div>        
    </header>

    <div id="contact-instructions">
        <p>Enter your input and the bug you found in the boxes below. </p>
    </div>

    <div id="contact-submission">
        <form action="{{ url_for('index') }}" method="post">
            <div id="submission-boxes">
                <label for="degreeworks">Degreeworks input:</label>
                <textarea name="degreeworks" rows="25" cols="60"></textarea>
                <br>
                <label for="problem">Problem:</label>
                <textarea name="problem" rows="5" cols="60"></textarea>
                <br>
            </div>
            
            <div id="submission-button">
                <input type="submit">
            </div>
            
        </form>
    </div>

</body>

</html>