<!DOCTYPE html>
<html lang='en'>

<head>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="/static/styling/home.css" rel="stylesheet" />
    <link rel="icon" href="/static/placeholder.jpg" type="image/icon type">
</head>

<body>
    <header>
        <div class="header-left">
            <img src="/static/placeholder.jpg" alt="zotsoc" id="logoimg"/>  
            <h1> zotSOC </h1>
        </div>        
        
        <div class="header-right">
            <nav>
                <a href="www.github.com">GitHub</a>
                <a href="#">Contact</a>
            </nav>  
        </div>        
    </header>

    <div class="welcome">
        <p id="welcome"> Welcome. </p>
    </div>


    <div class="instructions">
        <ol>
            <li> Log in to your Degreeworks.</li>
            <li> Use CTRL+A and CTRL+C to copy all information from your Degreeworks.</li>
            <li> Paste information into the box on the right.</li>
            <li> Hit the "Submit" button.</li>
        </ol>
    </div>

    <div class="submission">
        <form>
            <textarea name="comment" rows="39" cols="60">Enter text here...</textarea>
            <input type="submit">
        </form>
        

    </div>




</body>



</html>



    

