/*   -------------------------------------------  general styles  ----------------------------------------------- */
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

body {
    font-family: 'Lato Light', sans-serif;
}

/*   -------------------------------------------  header styles  ----------------------------------------------- */
header {
    height: 4%;
    width: 100%;
    background-color: rgb(203, 255, 255);
    overflow: hidden;
}


#logoimg {
    width: 2.2vmax;
    height: 2.2vmax;
    float: left;
    padding: 13px;
}


h1 {   
    font-size: 48px;
    float: left;
    padding: .2vh .2vh .2vh .4vh;
    font-family: 'Lato Hairline', sans-serif;
}

header > div.header-right > nav {
    float: right;
    width: -webkit-max-content;
    width: -moz-max-content; 
    padding-right: 1vw;
}


header > div.header-right > nav > a {
    display: block;
    float: left;
    font-size: 30px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:black;
}


.header-right {
    float: left;
    width: 67%;
    height: 100%;
}


.header-left {
    float: left;
    width: 33%;
    height: 100%;
}

a:hover {
  background-color: #ddd;
  color: black;
}

/*   -------------------------------------------  Welcome styles  ----------------------------------------------- */

div.welcome > p#welcome {
    font-size: 100px;
    text-align: center;
    margin-top: 30px;
}


/*   -------------------------------------------  Instruction styles  ----------------------------------------------- */

div.instructions {
    width: 50%;   
    padding-top: 2%;
    height: 550px;
    float: left;
}

div.instructions > ol {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    list-style-position:inside; 
    padding: 14px;
}

div.instructions > ol > li {
    font-size: 30px;
    margin-bottom: 12px;
}

/*   -------------------------------------------  Submission styles  ----------------------------------------------- */

div.submission {
    width: 50%;
    float: left;
    height: 550px;
    padding-top: 2%;
}

div.submission > form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;   
}

div.submission > form > input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}


div.submission > form > textarea {
    display: block;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}
    

