/* Author: Jason Chow */

/*   -------------------------------------------  General styles  ----------------------------------------------- */

button {
    border: .6px solid;
    width: 100%;
    height: 45px;
    text-align: left;
    cursor: pointer;
    padding: 13px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body {
    overflow: hidden;
}

/*   -------------------------------------------  Header styles  ----------------------------------------------- */

header#output {
    width: 75%;
    float: left;
}

/*   -------------------------------------------  Saved styles  ----------------------------------------------- */
div.saved {
    width: 25%;
    height: 1000px;
    float: right;
    /* background-color: #CACCA3; */
    outline: 1px solid;
    overflow: scroll;
}

div.saved > div#saved-heading {
    background-color: antiquewhite;
    height: 6.5%;
    display: block;
}
div.saved > div#saved-heading > h1 {
    font-size: 27px;
    text-align: center;
    padding: 17px;   
}

div.saved > p#saved-text {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

div.saved > div#saved-classes {
    width: 100%;
}
div.saved > div#saved-classes > p {
    padding: 10px;
    outline: .5px solid;
    text-align: left;
}

div.saved > div#saved-classes > table {
    width: 100%;
    float: left;
    border-collapse: collapse;
}

div.saved > div#saved-classes > table > tr,th {
    border: 1.5px solid #c4c4c4;
    text-align: center;
    padding: 8px;
}

div.saved > div#saved-classes > table > tr, td {
    border: 1.5px solid #c4c4c4;
    text-align: left;
    padding: 8px;
}

tr.information.active {
    background-color: antiquewhite;
}


/*   -------------------------------------------  Results styles  ----------------------------------------------- */
div.results {
    width: 75%;
    float: left;
    padding-top: 3%;
}

/*   -------------------------------------------  Big Requirement styles  ----------------------------------------------- */

div.big-requirement-area {
    width: 35%;
    float: left;      
}

div.big-requirement-list {
    margin-left: auto;
    margin-right: auto; 
    width: 80%;
    }

div.big-requirement-list > h1 {
    font-size: 27px;
    text-align: center;
    padding-bottom: 24px;
}

div.big-requirement-list > button.big-requirement {
    display: block;
    margin-bottom: 12px;
}

button.big-requirement:hover {
    background-color: #C8DDB0;
}

div.big-requirement-list > button.active {
    background-color: #C8DDB0;
}


/*   -------------------------------------------  Big Requirement Content styles  ----------------------------------------------- */

div#big-requirement-contents {
    width: 55%;
    float: left;    
    margin-top: 55px;
    margin-left: 50px;
    height: 750px;
    overflow: scroll;
}

div#big-requirement-contents > p {
    text-align: center;
    padding-top: 30px;
    width: 100%;
    font-size: 30px;
}

div#big-requirement-contents > div {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

button.choice {
    display: block;
    width: 100%;
    /* background-color: rgb(160, 203, 236); */
}

button.choice.active, button.choice:hover {
    background-color: rgb(160, 203, 236);
}


button.subreq {
    width: 96%;
    float: right;
    background-color: rgb(199, 217, 236);
}


button.course {
    width: 96%;
    float: right;
    background-color: rgb(224, 224, 224);
}

button.subreq-course {
    width: 92%;
    float: right;
    background-color: rgb(224, 224, 224);
}

button.first-level-course {
    width: 100%;
    float: left;
    background-color: rgb(224, 224, 224);
}

button.still-needed {
    text-align: center;
    background-color: rgb(160, 159, 168);
    cursor: default;
    /* position: fixed; */
    width: 100%;
}

table.course {
    width: 96%;
    float: right;
    border-collapse: collapse;
    
}

table.subreq-course {
    width: 92%;
    float: right;
    border-collapse: collapse;
}

table.first-level-course {
    width: 100%;
    float: right;
    border-collapse: collapse;
}

table.course > tr,th {
    border: 1.5px solid #c4c4c4;
    text-align: center;
    padding: 8px;
}

table.course > tr, td {
    border: 1.5px solid #c4c4c4;
    text-align: left;
    padding: 8px;
    cursor: pointer;
}

div.content {
    display: none;
}

tr.information:hover {
    background-color: antiquewhite;
}

div.content > table {
    display: block;
    overflow-x: scroll;    
}

/*   -------------------------------------------  Output Holder styles  ----------------------------------------------- */
div.output {
    display: none;
}
