/* Author: Jason Chow */

/*   -------------------------------------------  Header styles  ----------------------------------------------- */

header#output {
    width: 84%;
    float: left;
}

/*   -------------------------------------------  Saved styles  ----------------------------------------------- */
div.saved {
    width: 16%;
    height: 100%;
    float: right;
    background-color: gold;
}

/*   -------------------------------------------  Results styles  ----------------------------------------------- */
div.results {
    width: 84%;
    float: left;
    padding-top: 3%;
}

/*   -------------------------------------------  Big Requirement styles  ----------------------------------------------- */

div.big-requirement-area {
    width: 25%;
    float: left;      
}

div.big-requirement-list {
    margin-left: auto;
    margin-right: auto; 
    width: 75%;
    background-color: blanchedalmond;
    }

div.big-requirement-list > button {
    display: block;
    border: .8px solid;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

/*   -------------------------------------------  Big Requirement Content styles  ----------------------------------------------- */

div#big-requirement-contents {
    width: 70%;
    float: left;    
}

div#big-requirement-contents > p {
    margin-left: 0;
    margin-right: auto; 
    width: 100%;
    background-color: aquamarine;
}

/*   -------------------------------------------  Output Holder styles  ----------------------------------------------- */
div.output {
    display: none;
    overflow: hidden;
}
